#search-btn-div {
  border-bottom: 2px solid black;
}

.futureDateCard {
background-color: rgb(2, 44, 86);
}

#five-day-forecast-row {
  flex-wrap: nowrap;
}

.hide {
  display: none;
}

.card-body {
  padding: 15px;
}